

<html>

<head>
	<title>Products Listing for The Ruby Store</title>
	<link href="bootstrap.css" rel="stylesheet">
</head>
<h1>Products Listing</h1>

<table class="table table-striped table_hover table-condensed">
	<tr class="head">
		<th>ID</th>
		<th>Name</th>
		<th>Price</th>
		<th>On-Sale?</th>
		<th>Twitter Search</th>
		<th>Google Search</th>
	</tr>
	<% @rs.each do |row| %>
		<tr>
				<td><%= row['id'] %></td>
				<td><%= row['name'] %></td>
				<td><%= row['price'] %></td>
				<td><%= "<img src='knewstuff.ico'>" if (row['on_sale'] = 't') %></td>
				<td><form action="/products/search?q=<%= URI.escape(row['name']) %>" method='get'>
								<button class="btn-mini">Search on Twitter</button>
						</form>
				</td>
				<td><form action="/products/search?q=<%= URI.escape(row['name']) %>" method='get'>
								<button class="btn-mini">Search on Google</button>
						</form>
				</td>
		</tr>
	<% end %>
</table>



</html>